PPS-TOOL-DELUXE/Ressource/Schema/purchase-items.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2017 Marc Weinmann, Florian Rusch,
  ~                    Simon Rey, Alexander Zwetzich
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <!-- XML Schema Generated from XML Document on Tue May 23 2017 15:44:32 GMT+0200 (W. Europe Daylight Time) -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
    <xs:element name="purchaseItems">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:int"></xs:element>
                            <xs:element name="label">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="de" type="xs:string"></xs:element>
                                        <xs:element name="en" type="xs:string"></xs:element>
                                        <xs:element name="es" type="xs:string"></xs:element>
                                        <xs:element name="fr" type="xs:string"></xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="stockValue"></xs:element>
                            <xs:element name="startAmount" type="xs:int"></xs:element>
                            <xs:element name="discountAmount" type="xs:int"></xs:element>
                            <xs:element name="deliveryTime" type="xs:double"></xs:element>
                            <xs:element name="deliveryTimeVariance" type="xs:double"></xs:element>
                            <xs:element name="orderCosts" type="xs:double"></xs:element>
                            <xs:element name="price" type="xs:double"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
